{% extends 'emp_base.html' %}

{% block content %}

<h5 class="text-danger p-2 text-center" style="border-bottom: 2px solid orange;">Employee Dashboard</h5>


<div class="container my-4">
  <div class="row justify-content-center">
 
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow-lg border-success">
        <div class="card-body">
          <div class="text-center">
       
            <h4 class="text-success mb-3">Welcome Back to ERMS!</h4>
            <h5 class="text-capitalize text-muted">
              {{ request.user.first_name }} {{ request.user.last_name }}
            </h5>
            <p class="lead text-primary mt-3">We are glad to have you back. Manage your profile, experience, education, and more from this dashboard.</p>
          </div>
          
       
          <div class="row mt-4">
            <div class="col-6">
              <a href="{% url 'profile' %}" class="btn btn-outline-primary btn-block">
                <i class="fas fa-user"></i> View Profile
              </a>
            </div>
            <div class="col-6">
              <a href="{% url 'myexperience' %}" class="btn btn-outline-info btn-block">
                <i class="fas fa-briefcase"></i> My Experience
              </a>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6">
              <a href="{% url 'my_education' %}" class="btn btn-outline-warning btn-block">
                <i class="fas fa-graduation-cap"></i> My Education
              </a>
            </div>
            <div class="col-6">
              <a href="{% url 'change_password' %}" class="btn btn-outline-danger btn-block">
                <i class="fas fa-lock"></i> Change Password
              </a>
            </div>
          </div>
  
          {% if is_logged_in %}
            <form method="POST" action="{% url 'emp_home' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-block mt-4">Logout</button>
            </form>
          {% else %}
            <form method="POST" action="{% url 'emp_home' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-success btn-block mt-4">Login</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
